 /* -----HEADER----- */
 .header__logo {
 	float: left;
 	font: {
 		family: $headerFont;
 	};
 	color: #434343;
 	div {
 		display: inline-block;
 		vertical-align: middle;
 	}
	h1 {
		font-size: $logoFontSize;
		}
	h2 {
		color: #333;
		font-size: 12px;
		text-transform: uppercase;
		opacity: 0.65;
		margin-left: 2px;
		letter-spacing: 2px;
	}
 }
.header__logoPicture {
 	width: 40px;
 	height: 40px;
 	overflow: hidden;
    background: rgba(233, 148, 0, 1);
    @include linerGradient (top, rgba(233, 148, 0, 1) 0%, rgba(255,202,63,1) 100%);
    background: linear-gradient(to bottom, rgba(233, 148, 0, 1) 0%, rgba(255,202,63,1) 100%);
	.fa {
	 	font-size: 240%;
	 	margin-left: 60%;
	 	margin-top: 1px;
	 	color: #fff;
	 }
}
.header__social {
	float: right;
	margin-top: 15px;
	padding-right: 8px;
	a{
		text-decoration: none;
		color: #000;
	}
	.fa {
		margin-left: 13px;
		opacity: 0.2;
		font-size: 18px;
		&:hover {
			opacity: 1;
		}
	}
}
.fa-facebook:hover {
	color: #4867aa;
}
.fa-twitter:hover {
	color: #41abe1;
}
.fa-rss:hover {
	color: #fb7629;
}
.fa-linkedin:hover {
	color: #0077b5;
}
.fa-skype:hover {
	color: #00aff0;
}
.header__navbar {
	background-color: #2a2d32;
	margin-top: 35px;
	nav {
		float: left;
		ul{
			li {
				float: left;
				padding: 20px 39px;
				border-right: 1px solid #181a1d;
				a{
					text-decoration: none;
					color: $navbarTextColor;
					text-transform: uppercase;
					font-family: $menuFont;
					font-size: 14px;
					&:hover {
						color: #f4b60d;
					}
				}
				&.active {
					background-color: #248cec;
					a:hover {
						color: $navbarTextColor;
					}
				}
			}
		}
	}
}
.header__search {
	float: right;
	border: 1px solid #181a1d;
	background-color: #35383c;
	width: 240px;
	height: 38px;
	margin: 8px 8px 8px 0;
	padding: 8px;
	box-sizing: border-box;
	input {
		background-color: transparent;
		color: $navbarTextColor;
		font-size: $textFontSizeSmall;
		border: none; 
		outline: none;
		opacity: 0.3;
		&:focus {
			opacity: 1;
		}
	}
	.fa {
		float: right;
		color: $navbarTextColor;
		opacity: 0.3;
		margin: 2px 5px 0 0;
		&:hover{
			cursor: pointer;
		}
	}
}
.header__slider {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	height: $sliderHeight;
}
.slider-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	width: 100%;
}
.jcarousel {
    position: relative;
    overflow: hidden;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    img {
    	margin: -200px 0 0 -70px;
    }
}
.jcarousel-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin: 0;
	a {
	    text-decoration: none;
	    display: inline-block;
	    font-size: 11px;
	    height: 15px;
	    width: 15px;
	    line-height: 15px;
	    background: #fff;
	    text-indent: -9999px;
	    margin-right: 15px;
	    &.active {
		    background: #000;
		    color: #fff;
	    }
	}
}
.header__sliderText {
	float: left;
	margin-top: 235px;
    padding: 29px;
    padding-top: 17px;
    margin-left: 33px;
    background: url(../img/bg-slider-text.png) no-repeat;
	p {
		font: {
			family: $headerFont;
			size: 54px;
		};
		color: #fff;
		text-transform: uppercase;
		&:first-child {
			color: #f4b60d;
		}
	}
}







