@mixin commonText {
	font: {
		family: $textFont;
		size: $textFontSizeMain;
	};
	color: $textColor;
}

@mixin footerText {
	font: {
		family: $textFont;
		size: $textFontSizeSmall;
	};
	color: $textColorFooter;
	opacity: 20%;
}

@mixin footerLinks {
	font: {
		family: $textFont;
		size: $textFontSizeMain;
	};
	color: $textColorFooter;
	opacity: 30%;
}

@mixin inputField {
	font: {
		family: $textFont;
		size: $textFontSizeSmall;
	};
	color: $textColorFooter;
	opacity: 15%;
}

@mixin linerGradient ($pos, $rgbaB, $rgbaE) {
	background: -moz-linear-gradient($pos, $rgbaB, $rgbaE);
    background: -webkit-linear-gradient($pos, $rgbaB, $rgbaE);
    background: -o-linear-gradient($pos, $rgbaB, $rgbaE);
    background: -ms-linear-gradient($pos, $rgbaB, $rgbaE);
}

@mixin servicesHover ($prop, $dur, $timing) {
	-webkit-transition: $prop $dur $timing;
    -moz-transition: $prop $dur $timing;
    -o-transition: $prop $dur $timing;
	transition: $prop $dur $timing;
}