/*-----NEWS-----*/
.news {
	background-color: #f7f7f7;
	padding-bottom: 50px;
	& .container>div {
		width: 48%;
	}
	h2 {
		margin: 25px 0;
		color: #2a2d32;
		@include fontHeaders();
	}
}
.news__latestNews {
	float: left;
	article {
		height: 150px;
		margin-top: 25px;
	}
	article>div {
		display: inline-block;
	}
}
.news__field {
	margin-top: 45px;
}
.news__image {
	width: 150px;
	height: 150px;
	overflow: hidden;
	float: left;
}
.news__content {
	width: 65%;
	height: 100%;
	overflow: hidden;
	margin-left: 8%;
	a {
		text-decoration: none;
	}
	h3 {
		margin: 5px 0 10px 0;
		a {
			font: {
				family: $headerFont;
				size: 16px;
				}
			color: #2a2d32;
			&:hover {
				color: #248cec;
			}
		}
	}
	p.news__text {
		@include commonText();
		line-height: 20px;
		color: $textColor;
		margin-top: 20px;
	}
}
.news__info {
	display: inline-block;
	margin-right: 10px;
	@include commonText();
	a {
		color: #248cec;
	}
}
.news__banners {
	float: right;
}
.banners__field {
	margin-top: 45px;
}
.banners__panel {
	margin-top: 5px;
	cursor: pointer;
	.active {
		background-color: #f4b60d;
		border-color: #f6c53d;
	}
}
.banners__sign {
	width: 7%;
	float: left;
	font-size: 18px;
	display: inline-block;
	height: 37px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	padding: 8px 15px;
	color: #2a2d32;
	text-transform: uppercase;
	line-height: 20px;
}
.banners__header {
	@extend .banners__sign;
	width: 93%;
	@include ubuntuText();
}
.banners__text {
	margin: 30px;
	@include commonText();
	line-height: 20px;
	color: $textColor;
	display: none;
}
