$textFont: 				"Arial Regular"; 	//Common font-family for text, links, input-field

$textFontSizeMain: 		13px; 				// font-size for text, footer links
$textFontSizeSmall: 	12px; 				// font-size for contact-block in footer and input-field

$textColor: 			#8a8a8a; 			// text color
$textColorFooter: 		#fff; 				// text color in footer and input-field

