$textFont: 				Arial, sans-serif; 	//Common font-family for text, links, input-field
$headerFont: 			"Ubuntu Medium";	//
$menuFont:				"Ubuntu Condensed";

$textFontSizeMain: 		13px; 				// font-size for text, footer links
$textFontSizeSmall: 	12px; 				// font-size for contact-block in footer and input-field
$logoFontSize:			30px;

$textColor: 			#8a8a8a; 			// text color
$textColorFooter: 		#fff; 				// text color in footer and input-field
$navbarTextColor:		#fff;

$sliderHeight:			470px;
$sliderBlockSize:		$sliderHeight/4;

