@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "settings";

@import "header";
@import "features";
@import "services";
@import "news";
@import "partners";
@import "footer";
